
body{
    background-color: beige;
}

.container{
    height: 14em;
    background-color: aliceblue;
}
.container1{
    height: 8em;
    text-align: center;
    
}


.form1{
    padding: 0 30px;
}
.label{
    font-size: xx-small;
}
.h1{
    padding: .5em 10px;
    width: 600px;
    text-align: center;
    color:rgb(226, 85, 214);
}   
.h2{
    color: black;
}
.form-row{
    width: 600px;
}

.header-image{
    float:right;
}




